.card {
    margin: 1vh 2vw 2vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-aound;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
    background: #F7F7F9;
    color: #373299;
    
}
.pokiImg {
    width: 267.29px;
    height: 238.55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokiId {
    align-self: flex-start;
    width: 58px;
    height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-left: 2%;
}
